/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles/variables";
@import "./styles/mixins";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.mat-icon{
  color: $primary-color;
}

app-root{
  @include flexible(column, null, null);
  height: 100vh;
}

app-countries, app-infected, app-auth {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #F5F5F5;
  overflow-y: scroll;
}