@import '../styles/variables';
@import '../styles/mixins';

.mat-toolbar{
    padding: 0;
    background-color: #000;
    height: 50px;
}
header{
    width: 100%;
    margin: 0;
    padding-right: 10px;
    @include flexible(null, space-between, center);
    
    
    figure{
        width: 150px;
        margin: 0;
        padding: 20px;
        img{
            width: 100%;
        }
    }
}

