@import '../../../styles/variables';
@import '../../../styles/mixins';

nav {
    width: 100%;
    margin: 0;
    padding: 0;

    ul{
        @include flexible(null, space-between, center);
        list-style: none;
        
        li{
            font-size: 14px;
            color: $nav-links-color;
            padding: 0 10px;
            
            a {
                text-decoration: none;
                color: $nav-links-color;
    
                &:visited{
                    color: $nav-links-color;
                }
            }

            .mat-flat-button{
                background-color: #000;
                color: $nav-links-color;
                
            }
        }
    }
}